/* CSS para los margenes inferiores */
.modal-body {
    padding: 30px 30px;
}

.modal-body #usuario-modal {
    padding: 0px 0px;
}

.margin-top-05 {
    margin-top: 0.5em;
}

.margin-top-10 {
    margin-top: 1.0em;
}

.margin-top-15 {
    margin-top: 1.5em;
}

.margin-top-20 {
    margin-top: 2.0em;
}

.margin-top-25 {
    margin-top: 2.5em;
}

.margin-top-30 {
    margin-top: 3.0em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em;
}

.margin-bottom-10 {
    margin-bottom: 1.0em;
}

.margin-bottom-15 {
    margin-bottom: 1.5em;
}

.margin-bottom-20 {
    margin-bottom: 2.0em;
}

.margin-bottom-25 {
    margin-bottom: 2.5em;
}

.margin-bottom-30 {
    margin-bottom: 3.0em;
}

/* CSS para las imagenes de los grids */
.img-grid{
    line-height: 1em;
    min-width: 300px;
    margin: 0;
    padding: 0;
    font-size: .8em;
}

/* CSS para los colores de los botones */
.btn-on-status {
    color: #fff;
    background-color: #4088CC;
    border-color: #28557F;
}

.btn-off-status {
    color: #fff;
    background-color: #CC443F;
    border-color: #7F2A28;
}

.btn-view {
    color: #fff;
    background-color: #1B91B2;
    border-color: #306E7F;
}

.btn-add {
    color: #fff;
    background-color: #457F0A;
    border-color: #507F21;
}

.btn-edit {
    color: #fff;
    background-color: #CC5A1E;
    border-color: #7F3812;
}

.btn-report {
    color: #fff;
    background-color: #E8609E;
    border-color: #9B0649;
}


/* CSS para los modales */

#modalBs .modal-xl {
    width: 90%;
}

#modalBs .modal-lg {
    width: 80%;
}

#modalBs .modal-md {
    width: 60%;
}

#modalBs .modal-sm {
    width: 40%;
}

/* CSS Para las galerias */

.slidesGallery {
    display: none
}

.tabsGallery {
    cursor: pointer;

}

.thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.pre-scrollable {
    max-height: 600px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
